<%- include('./partials/head') %>
<main>
  <ul class="hoofdpagina">
    <%articles.forEach(article => {
      {%>
      <li>
        <a href="/artikel/<%=article.slug%>">

          <picture>
            <img src="<%=article.jetpack_featured_media_url%>"
            alt="artikel afbeelding"
            width="<%=article.yoast_head_json.og_image[0].width%>" 
            height="<%=article.yoast_head_json.og_image[0].height%>">
          </picture>
          <h1><%-article.title.rendered%></h1>
        </a>
        
        <div>
          <time>
            <%= new Date(article.date).getDate() %>/<%= new Date(article.date).getMonth() %>/<%= new Date(article.date).getFullYear() %>
          </time>
          <span><%=article.shares%> keer gedeeld</span>   
        </div>
        <p><%- article.excerpt.rendered %></p>
      </li>
      <%}
    })%>
  </ul>

</main>
<%- include('./partials/foot') %>

    